.baskervville-sc-regular{
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}

.afacad-flux{
  font-family: "Afacad Flux", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

h1 h2 h3 h4 h5 h6{
  font-family: "Baskervville SC", serif;
  color: black;
  text-decoration: none;
}

a{
  font-family: "Baskervville SC", serif;
  color: black;
  text-decoration: underline;
}

.HDR-LINK{
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 100vh;
  font-size: xx-large;
}

@keyframes floatDown {
  from { transform: translateY(-500px); }
  to { transform: translateY(0); }
}

.HDR-LINK{
  animation: floatDown 5s;
}

header h1{
  font-family: "Baskervville SC", serif;
  color: black;
  text-decoration: none;
  font-weight: lighter;
}